<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/ivanferdelja/" target="_blank"><img src="/linkedin.png" alt="HTML tutorial" style="width:25px"></a>
    <br>{{ .Site.Params.Description }}<br>
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
        </ul>
    </nav>
    {{ partial "seo_schema" . }}
</header>
